@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100&display=swap');

body {
  background-image: url('http://www.pngmagic.com/product_images/Black-and-white-background-image.jpg');
  
}
h3 {
   font-family: 'Smooch', cursive;
   position: fixed;
   left: 190px;
   top: -30px;
   font-size: 40px;
  }
nav {
  display: flex;
  padding: 0% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  font-size: 20px;
}
.nav-links ul li a {
  font-family: 'Big Shoulders Text', cursive;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}
 .nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: blueviolet;
  display: block;
  margin: auto;
  transition: 0.1s;
}
.nav-links ul li:hover::after{
 width: 100%;
}
.txt-color {
  color: black;
  transition: 0s;
}
.txt-color:hover {
  color: blueviolet;
}

.mylogo {
border: 0px solid black;
width: 130px;
position: fixed;
top: -3px;
left: 100px;
}

.brush {
  border: 0px solid black;
  width: 130px;
  position: fixed;
  top: 165px;
  right: 500px;
}
.mylogo2 {
  border: 0px solid black;
  width: 500px;
  position: fixed;
  top: 175px;
  right: 60px;
  opacity: 30;
}

h1 {
  font-family: 'Big Shoulders Text', cursive;
  color: #1a1b1c;
  position: absolute;
  left: 70px;
  top: 30%;
  font-size: 35px;

}

.line2 {
  font-family:'Big Shoulders Text', cursive;
  position: absolute;
  left: 70px;
  top: 38%;
  color: #1a1b1c;
}

.mylogo1 {
  border: 0px solid black;
  position: absolute;
  width: 170px;
  top: 33%;
  left: -3%;
}
.line3 {
 color: black;
  position: absolute;
  left: 404px;
  top: 44%;
  font-family: 'Big Shoulders Text', cursive;
}
.line4 {
  color: #1a1b1c;
  font-family: 'Big Shoulders Text', cursive;
  position: absolute;
  left: 70px;
  top: 47%;
}
.line5 {
  color: #1a1b1c;
  font-family: 'Big Shoulders Text', cursive;
  position: absolute;
  left: 70px;
  top: 50.5%;
}
.line6 {
  color: #1a1b1c;
  font-family: 'Big Shoulders Text', cursive;
  position: absolute;
  left: 70px;
  top: 54%;
}
.line7 {
  color: #1a1b1c;
  font-family: 'Big Shoulders Text', cursive;
  position: absolute;
  left: 70px;
  top: 57.5%;
}
.line8 {
  color: #1a1b1c;
  font-family: 'Big Shoulders Text', cursive;
  position: absolute;
  left: 70px;
  top: 61%;
}
.l-btn {
padding-top: 26%;
padding-left: 385px;
}
.learn-more {
  font-family: 'Big Shoulders Text', cursive;
  font-weight: bolder;
  color: #1a1b1c;
  background-color: transparent;
  border: 1px solid #1a1b1c;
  padding: 4px 20px;
}
.learn-more:hover {
  background-color: #1a1b1c;
  color: white;
  font-weight: lighter;
  cursor: pointer;
}


.project {
  position: fixed;
  top: 50%;
}